<!-- 网站首页 -->
<!-- inc:inc.head -->
<div align="center">
<div id="body">
<div class="table">


<div id="left_2">
	<!-- 翻页图片 -->
	<div><!-- inc:inc.picplayer --></div>
	<!-- 两列文章+一列投票 -->
	<div style="padding-top:3px;padding-bottom:3px;">
		<div class="float_left" style="width:247px">
			<!-- run:$msglist = QGMOD_MSGLIST(14,28,"hits ASC,orderdate DESC,id DESC",false,10) -->
			<div class="global_sub"><a href="list.php?id={:$msglist[id]}">{:$msglist[catename]}</a></div>
			<div class="border_no_top">
				<!-- $msglist["list"] AS $key=>$value -->
				<div>&nbsp;&#8251; <a href="msg.php?id={:$value[id]}" style="{:$value[style]}" title="{:$value[subject]}">{:$value[cut_subject]}</a></div>
				<!-- end -->
			</div>
			<!-- run:unset($msglist) -->
		</div>
		<div class="float_left" style="width:232px;_width:236px;padding-left:2px;padding-right:2px;">
			<!-- run:$msglist = QGMOD_MSGLIST(15,28,"hits ASC,orderdate DESC,id DESC",false,10) -->
			<div class="global_sub"><a href="list.php?id={:$msglist[id]}">{:$msglist[catename]}</a></div>
			<div class="border_no_top">
				<!-- $msglist["list"] AS $key=>$value -->
				<div>&nbsp;&#8251; <a href="msg.php?id={:$value[id]}" style="{:$value[style]}" title="{:$value[subject]}">{:$value[cut_subject]}</a></div>
				<!-- end -->
			</div>
			<!-- run:unset($msglist) -->
		</div>
		<div class="float_left" style="width:247px">
			<!-- run:$vote = QGMOD_VOTE(7) -->
			<div class="global_sub"><a href="vote.php?id={:$vote[id]}">{:$vote[subject]}</a></div>
			<div style="display:none;"><form method="post" action="vote.php?id={:$vote[id]}&act=submit"></div>
			<div class="border_no_top">
				<!-- $vote["list"] AS $key=>$value -->
				<div>{:$value[vote_input]} {:$value[subject]}</div>
				<!-- end -->
				<div align="center">
					<input type="image" src="images/submit.gif" style="border:0px;" />
					<a href="vote.php?id={:$vote[id]}&act=view"><img src="images/view.gif" border="0"></a>
				</div>
			</div>
			<div style="display:none;"></form></div>
			<!-- run:unset($vote) -->
		</div>
		<div style="clear:both;"></div>
	</div>
	<!-- 最新图片 -->
	<div class="border">
		<div style="padding:3px">
			<table>
			<tr>
				<!-- run:$msglist = QGMOD_PICLIST_ALL("new","picture","21") -->
				<!-- $msglist AS $key=>$value -->
				<td style="width:150px;height:150px;margin:1px;border:1px #D4D4D4 solid;text-align:center;"><a href="msg.php?id={:$value[id]}" title="{:$value[subject]}"><img src="{:$value[thumb]}" border="0" width="100px" height="100px" alt="{:$value[subject]}"></a></td>
				<!-- row:5 -->
				<!-- end -->
				<!-- run:unset($msglist) -->
			</tr>
			</table>
		</div>
	</div>
	<div class="space_between"><div class="space_between"></div></div>
	<div>
		<!-- run:$msglist = QGMOD_PICLIST_ALL("new","product","10") -->
		<div class="global_sub">Products</div>
		<div class="border_no_top">
			<table width="99%">
			<tr>
				<!-- $msglist AS $key=>$value -->
				<td width="20%" height="120px" align="center"><a href="msg.php?id={:$value[id]}" title="{:$value[subject]}"><img src="{:$value[thumb]}" border="0" width="100px" height="100px" alt="{:$value[subject]}"></a></td>
				<td valign="top" width="29%">
					<div class="wtr">Name: <a href="msg.php?id={:$value[id]}" title="{:$value[subject]}" style="{:$value[style]}">{:$value[cut_subject]}</a></div>
					<div class="wtr">Standard: {:$value[ext_standard]}</div>
					<div class="dtr">Number: {:$value[ext_number]}</div>
					<!--<div class="wtr">Maket Price: $ {:$value[ext_marketprice]}</div>-->
					<!--<div class="dtr">Shop Price: $ <span style="color:red;">{:$value[ext_shopprice]}</span></div>-->
				</td>
				<!-- row:2 -->
				<!-- end -->
			</tr>
			</table>
		</div>
		<!-- run:unset($msglist) -->
	</div>
</div>
<div id="middle_2"><div class="space_between"></div></div>
<div id="right_2">
	<div>
		<div class="global_sub">NOTICE</div>
		<div class="border_no_top">
			<div id="notice_1">
				<div id="notice_2">
				<!-- run:$notice_list = QGMOD_NOTICE() -->
				<!-- $notice_list AS $key=>$value -->
				<div style="padding-left:2px;padding-right:2px;"><a href="{:$value[url]}"{:$value[target]} style="color:darkblue;">{:$value[subject]}</a><em>({:$value[postdate]})</em></div>
				<div style="padding-left:8px;padding-right:5px;">■ {:$value[content]}</div>
				<!-- end -->
				</div>
				<div id="notice_3"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	marquee("notice_1","notice_2","notice_3");
	</script>
	<div class="space_between"><img src="images/blank.gif" border="0" width="1" height="1"></div>
	<div><!-- inc:inc.login --></div>
	<div class="space_between"><img src="images/blank.gif" border="0" width="1" height="1"></div>
	<div>
		<!-- run:$special = QGMOD_SPECIAL(4,255) -->
		<div class="global_sub"><a href="{:$special[url]}">{:$special[subject]}</a></div>
		<div class="border_no_top"><div style="padding:5px;">　　{:$special[content]}<div align="right"><a href="{:$special[url]}"{:$special[target]}><img src="images/more.jpg" border="0"></a></div></div></div>
		<!-- run:unset($special) -->
	</div>
	<div class="space_between"><div class="space_between"></div></div>
	<div>
		<!-- run:$catelist = QGMOD_CATELIST("23,24,32,36,38,47,63,61") -->
		<div class="global_sub">Category</div>
		<div class="border_no_top">
			<!-- $catelist AS $key=>$value -->
			<div style="padding-left:20px;"><img src="images/gamma.gif" border="0" /><a href="list.php?id={:$value[id]}">{:$value[catename]}</a></div>
			<!-- end -->
		</div>
		<!-- run:unset($catelist) -->
	</div>
	<div class="space_between"><div class="space_between"></div></div>
	<div><!-- inc:inc.search --></div>
</div>

<div style="clear:both;"></div>

</div>
</div>
</div>
<!-- inc:inc.foot -->