<!-- 下载列表页模板 -->
<!-- inc:inc.head -->
<div align="center">
<div id="body">
<div class="table">

<div id="left_1">
	<div><!-- inc:inc.login --></div>
	<div class="space_between"><div class="space_between"></div></div>

	<div class="global_sub">当前分类 &nbsp;<!-- if($thiscate[parentid]) --><a href="list.php?id={:$thiscate[parentid]}">上级分类</a><!-- end --></div>
	<div class="border_no_top">
		<!-- $left_catelist AS $key=>$value -->
		<div style="padding-left:20px;"><a href="list.php?id={:$value[id]}" style="{:$value[style]}{if($value[id] == $id)};color:red;{end}">{:$value[catename]}</a></div>
		<!-- end -->
	</div>
	<div class="space_between"><div class="space_between"></div></div>

	<div class="global_sub">推荐下载</div>
	<div class="border_no_top">
		<!-- run:$mod_artlist = QGMOD_LIST_IDIN("isvouch DESC,hits ASC,orderdate DESC",26) -->
		<!-- $mod_artlist AS $key=>$value -->
		<div>&nbsp;※ <a href="msg.php?id={:$value[id]}" style="{:$value[style]}" title="{:$value[subject]}">{:$value[cut_subject]}</a></div>
		<!-- end -->
		<!-- run:unset($mod_artlist) -->
	</div>
	<div class="space_between"><div class="space_between"></div></div>

	<div class="global_sub">热门下载</div>
	<div class="border_no_top">
		<!-- run:$mod_artlist = QGMOD_LIST_IDIN("istop DESC,hits DESC,orderdate DESC",26) -->
		<!-- $mod_artlist AS $key=>$value -->
		<div>&nbsp;※ <a href="msg.php?id={:$value[id]}" style="{:$value[style]}" title="{:$value[subject]}">{:$value[cut_subject]}</a></div>
		<!-- end -->
		<!-- run:unset($mod_artlist) -->
	</div>
</div>

<div id="middle_1"><div class="space_between"></div></div>

<div id="right_1">
	<div class="global_sub">{:$thiscate[catename]}</div>
	<div class="border_no_top">
		<!-- $msglist AS $key=>$value -->
		<div class="list_out" onmouseover="this.className='list_over'" onmouseout="this.className='list_out'">
			<table cellpadding="0" cellspacing="0">
			<tr>
				<td height="23px" width="470px">&nbsp;
					<!-- if($value[top]) --><img src="images/istop.gif" border="0" align="absmiddle"><!-- else --><img src="images/preart.gif" border="0" align="absmiddle"><!-- end -->&nbsp;
					<a href="msg.php?id={:$value[id]}" title="{:$value[subject]}" style="{:$value[style]}">{:$value[cut_subject]}</a>
				</td>
				<td width="50px" style="color:#007BA8">{:$value[hits]}</td>
				<td width="100px" style="color:#007BA8" align="right">{:$value[postdate]}</td>
			</tr>
			<!-- if($value[ext_docket]) -->
			<tr>
				<td colspan="10"><div style="padding:3px;">{:$value[ext_docket]}</div></td>
			</tr>
			<!-- end -->
			<tr>
				<td colspan="10">
					<table width="100%">
					<tr>
						<td width="33%">软件类别：<a href="{:$siteurl}list.php?id={:$value[cateid]}" title="{:$value[catename]}" style="color:#BFBFBF;">{:$value[catename]}</a></td>
						<td width="33%">运行环境：{:$value[ext_2]}</td>
						<td width="33%">授权方式：{:$value[ext_1]}</td>
					</tr>
					</table>
				</td>
			</tr>
			</table>
		</div>
		<!-- end -->
	</div>
	<div align="right">{:$pagelist}</div>
</div>
<div style="clear:both;"></div>

</div>
</div>
</div>
<!-- inc:inc.foot -->