/*公共样式*/
body
{
	background:#EEF4F6 url("bodybg.gif") repeat-x;
	margin:0px;
	font-size:12px;
}
table,tr,td
{
	font-family:"Arial","Tahoma","宋体";
	font-size:12px;
	color:#007BA8;
}
div
{
	margin-left:auto;
	margin-right:auto;
	line-height:24px;
	font-family:"Arial","Tahoma","宋体";
	color:#007BA8;
	font-size:12px;
	overflow:hidden;
}
hr
{
	height:0px;
	border:0px;
	border-top:1px solid #ddd;
	width:96%;
}
img
{
	border:0;
}
a
{
	color:#007BA8;
	text-decoration:none;
}
a:hover
{
	color:#f60f60;
	text-decoration:underline;
}
a.link
{
	color:#999;
}
a.redcolor
{
	color:#CB4721;
}
a.redcolor:hover
{
	color:#222;
}

#headertop
{
	position:relative;
	background:#EEF4F6 url("title_bg.gif") repeat-x;
	height:32px;
}

/*头部公告滚动样式*/
#headertop #notice_1
{
	overflow:hidden;
	height:25px;
}

#top_we_are
{
	position:relative;
	padding-top:10px;
	width:969px;
	margin:0 auto;
}

#top
{
	position:relative;
	width:969px;
	background:#EEF4F6 url("mainbg.gif") repeat-x;
}
#top .tabs ul
{
	margin:0;
	padding:10px 10px 5px 10px;
	list-style:none;
}
#top .tabs li
{
	display:inline;
	margin:0;
	padding:0;
}
#top .tabs a
{
	background:url("tabs_left.gif") no-repeat left top;
	margin:0;
	padding-top:8px;/*FireFox*/
	*padding-top:0px; /*IE7 IE6*/
	padding-right:0px;
	padding-bottom:8px;
	padding-left:4px;
	text-decoration:none;
}
#top .tabs a span
{
	background:url("tabs_right.gif") no-repeat right top;
	margin:0;
	padding:8px 10px 8px 6px;
	color:#FFF;
}
#top .tabs a:hover
{
	background-position:0% -42px;
}
#top .tabs a:hover span
{
	background-position:100% -42px;
	color:#222;
}

#top .lead
{
	background:#F6FBFD url("menubg2.gif") repeat-x center top;
	height:30px;
	text-align:left;
}

/*中间排版*/
#body
{
	position:relative;
	width:969px;
	background:#F6FBFD;
}

#body .table
{
	padding-left:10px;
	padding-right:10px;
}

/*两列左窄右宽排列*/
#left_1
{
	float:left;
	width:210px;
	text-align:left;
}

#middle_1
{
	float:left;
	width:9px;
}

#right_1
{
	float:left;
	width:730px;
	text-align:left;
}

/*两列左宽右窄*/
#left_2
{
	float:left;
	width:730px;
	text-align:left;
}

#middle_2
{
	float:left;
	width:9px;
}

#right_2
{
	float:left;
	width:210px;
	text-align:left;
}

/*三列左右窄中间宽*/
#left_3
{
	float:left;
	width:210px;
	text-align:left;
}
#middle
{
	float:left;
	width:529px;
	text-align:left;
}
#right_3
{
	float:right;
	width:210px;
	text-align:left;
}

/*页脚样式*/
#foot
{
	position:relative;
	background:#EEF4F6 url("footbg.gif") repeat-x bottom;
	height:238px;
}

#foot .table
{
	width:969px;
	padding-top:89px;
	background:#EEF4F6 url("bottombg.gif") repeat-x bottom;
	height:70px;
	*height:159px;
}

#foot .tablef
{
	width:969px;
	height:79px;
}

/*其他常用样式*/
.global_sub
{
	height:24px;/*FireFox*/
	*height:33px;/*IE*/
	background:#D2DFE6 url("subject_bg.jpg") repeat-x;
	padding-top:8px;
	padding-left:15px;
	border-left:1px #D2DFE6 solid;
	border-right:1px #D2DFE6 solid;
}
.border_no_top
{
	border-left:1px #D2DFE6 solid;
	border-right:1px #D2DFE6 solid;
	border-bottom:1px #D2DFE6 solid;
}
.border_left_right
{
	border-left:1px #D2DFE6 solid;
	border-right:1px #D2DFE6 solid;
}

.border
{
	border:1px #D2DFE6 solid;
}

.userlogin_over
{
	width:110px;
	height:15px;/*firefox*/
	*height:20px;
	border:1px #C60000 solid;
	background-color:#F7F2BD;
}

.userlogin_out
{
	width:110px;
	height:15px;/*firefox*/
	*height:20px;
}

.space_between
{
	height:5px;
}

/*定义Float为左的代码*/
.float_left
{
	float:left;
}

/**分页**/
.pagelist
{
	margin:3px;
	padding:3px;
	border:0px;
}
.pagelist .n
{
	border:1px #D2DFE6 solid;
	padding-left:5px;
	padding-right:5px;
	*padding-top:3px;
	*padding-bottom:3px;
	background:#FFFFFF;
}
.pagelist .m
{
	border:1px #D2DFE6 solid;
	padding-left:5px;
	padding-right:5px;
	*padding-top:3px;
	*padding-bottom:3px;
	background:#E7EEF1;
}

/*用于列表的鼠标移动样式*/
.list_over
{
	padding-top:3px;
	background:#E7EEF1;
	border-bottom:1px #D2DFE6 dashed;
}
.list_out
{
	padding-top:3px;
	border-bottom:1px #D2DFE6 dashed;
}

/*用于显示内容页的常用样式*/
.msg_sub
{
	font:bold 15px "Tahoma","Arial","宋体";
	color:#486F84;
	padding:5px;
	text-align:center;
}
.msg_date
{
	text-align:center;
	font: 0.83em/1.5em Verdana, Arial, Helvetica, sans-serif;
	padding:3px;
}
.msg_content
{
	padding:5px;
	text-align:left;
}

/*我要留言样式*/
.button
{
	background:#FFF url("btn.gif") repeat-x;
	height:25px;
	border:#7B9EBD;
}

/*友情提示页代码*/
.error
{
	line-height:150%;
	padding:15px;
	width:450px;
	border:1px #D2DFE6 dashed;
}

/*奇偶行颜色显示*/
.wtr
{
	position:relative;
	padding:3px;
	text-align:left;
	border-bottom:1px #D2DFE6 solid;
}
.dtr
{
	position:relative;
	padding:3px;
	text-align:left;
	background:#EEF4FD;
	border-bottom:1px #D2DFE6 solid;
}
