<!-- 公共页脚 -->
<div align="center">
<div id="foot">
<!-- run:$debugmsg = QGMOD_FOOT() -->
	<div align="center">
		<div class="table">
			<div><a href="http://www.my0757.com">My0757.com</a> &copy; 2004-2008 My0757.Com</div>
			<div>{:$debugmsg} &nbsp;<a href="admin.php">[administrtor]</a></div>
		</div>
	</div>
	<div align="center"><div class="tablef"><img src="images/bot.jpg"></div></div>

</div>
</div>
<script type="text/javascript">
function kill_errors()
{
	return true;
}
window.onerror = kill_errors;
</script>
</body>
</html>