<!-- 公共头部页信息 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{:$sitetitle}</title>
<meta name="keywords" content="{:$system[keywords]},qinggan,phpok">
<meta name="description" content="{:$system[description]} - PHPOK.COM">
<link rel="stylesheet" type="text/css" href="images/default.css" />
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
<script type="text/javascript" src="images/default.js"></script>
</head>
<body>
<div id="headertop">
<div align="center" style="background:(images/title_bg.gif) repeat-x;">
<table width="969px">
<tr>
	<td width="88px"><img src="images/title_logo.gif"></td>
	<td width="10px" align="right">&nbsp;</td>
	<td width="500px" align="left">
		<div id="notice_1">
			<div id="notice_2">
				<!-- run:$notice_list = QGMOD_NOTICE() -->
				<!-- $notice_list AS $key=>$value -->
				<div><a href="{:$value[url]}"{:$value[target]}>{:$value[subject]}</a><em>({:$value[postdate]})</em></div>
				<!-- end -->
			</div>
			<div id="notice_3"></div>
		</div>
	</td>
	<td>&nbsp;</td>
	<script type="text/javascript">
	marquee("notice_1","notice_2","notice_3");
	</script>
	<td align="right" width="351px">
		<table cellpadding="0" cellspacing="0">
		<tr>
			<td width="3"><img src="images/blank.gif" width="0" height="0"></td>
			<td width="2"><img src="images/h_m_l.gif"></td>
			<td background="images/h_m_b.gif">&nbsp;<a href="index.php">Home</a>&nbsp;</td>
			<td><img src="images/h_m_r.gif"></td>

			<td width="3"><img src="images/blank.gif" width="0" height="0"></td>
			<td width="2"><img src="images/h_m_l.gif"></td>
			<td background="images/h_m_b.gif">&nbsp;<a href="admin.php" target="_blank">Master</a>&nbsp;</td>
			<td><img src="images/h_m_r.gif"></td>

			<td width="3"><img src="images/blank.gif" width="0" height="0"></td>
			<td width="2"><img src="images/h_m_l.gif"></td>
			<td background="images/h_m_b.gif">&nbsp;<a href="book.php">Book</a>&nbsp;</td>
			<td><img src="images/h_m_r.gif"></td>
		</tr>
		</table>
	</td>
</tr>
</table>
</div>
</div>

<div align="center">
<div id="top_we_are">
<table width="100%" cellpadding="0" cellspacing="0">
<tr>
	<td width="10"><img src="images/headertop_left.gif"></td>
	<td align="left" background="images/headertop_bg.gif">
		<table width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<td align="right">{:SelectLangTpl()}</td>
		</tr>
		</table>
	</td>
	<td width="10"><img src="images/headertop_right.gif"></td>
</tr>
</table>
</div>
</div>

<div align="center">
<div id="top">
<table width="100%" cellpadding="0" cellspacing="0">
<tr>
	<td width="20px">&nbsp;</td>
	<td width="162px" height="72px" valign="middle"><img src="images/logo.gif" border="0"></td>
	<td valign="bottom" class="tabs" align="left">
	<ul>
		<!-- $qgnav AS $key=>$value -->
		<li><a href="{:$value[url]}"{if($value[target])} target="_blank"{end} style="{:$value[css]}"><span>{:$value[name]}</span></a></li>
		<!-- end -->
	</ul>
	</td>
</tr>
</table>

<div class="lead">
&nbsp;&#8251;&nbsp;
<a href="index.php">{:$system[sitename]}</a>
&raquo;
<a href="home.php">Home</a>
<!-- $lead_menu AS $key=>$value -->
&raquo; <a href="{:$value[url]}">{:$value[name]}</a>
<!-- end -->
</div>

</div>
</div>