<!-- 文章列表页模板 -->
<!-- inc:inc.head -->
<div align="center">
<div id="body">
<div class="table">

<div id="left_1">
	<div><!-- inc:inc.login --></div>
	<div class="space_between"><div class="space_between"></div></div>

	<div class="global_sub">Category &nbsp;<!-- if($thiscate[parentid]) --><a href="list.php?id={:$thiscate[parentid]}">Parent</a><!-- end --></div>
	<div class="border_no_top">
		<!-- $left_catelist AS $key=>$value -->
		<div style="padding-left:20px;"><a href="list.php?id={:$value[id]}" style="{:$value[style]}{if($value[id] == $id)};color:red;{end}">{:$value[catename]}</a></div>
		<!-- end -->
	</div>
	<div class="space_between"><div class="space_between"></div></div>

	<div class="global_sub">Google AD</div>
	<div class="border_no_top">
		<div align="center" style="padding-top:3px;padding-bottom:3px;">{:QGMOD_AD(6)}</div>
	</div>

</div>

<div id="middle_1"><div class="space_between"></div></div>

<div id="right_1">
	<div class="global_sub">{:$thiscate[catename]}</div>
	<div class="border_no_top">
		<!-- $msglist AS $key=>$value -->
		<div class="list_out" onmouseover="this.className='list_over'" onmouseout="this.className='list_out'">
			<table cellpadding="0" cellspacing="0">
			<tr>
				<td width="120px" align="center">
					<!-- if($value[thumbfile] && file_exists($value[folder].$value[thumbfile])) -->
					<a href="msg.php?id={:$value[id]}" title="{:$value[subject]}"><img src="{:$value[folder]}{:$value[thumbfile]}" border="0" width="100px" height="100px" style="border:1px #D2DFE6 solid;"></a>
					<!-- else -->
					<a href="msg.php?id={:$value[id]}" title="{:$value[subject]}"><img src="images/nopicture.gif" border="0" width="100px" height="100px" style="border:1px #D2DFE6 solid;"></a>
					<!-- end -->
				</td>
				<td valign="top" width="600px">
					<div class="wtr">Product: <a href="msg.php?id={:$value[id]}" title="{:$value[subject]}" style="{:$value[style]}">{:$value[cut_subject]}</a></div>
					<div class="dtr">Cate: <a href="list.php?id={:$value[cateid]}" title="{:$value[catename]}">{:$value[catename]}</a></div>
					<div class="wtr">Standard: {:$value[ext_standard]}</div>
					<div class="dtr">Number: {:$value[ext_number]}</div>
					<!--<div class="wtr">Market Price: $ {:$value[ext_marketprice]} &nbsp; &nbsp; Shop Price: $<span style="color:red;">{:$value[ext_shopprice]}</span></div>-->
					<div class="pro_dtr">{:$value[ext_docket]}</div>
					<div class="pro_tr" align="right">
						<a href="msg.php?id={:$value[id]}"><img src="images/product_msg.gif" border="0"></a>
						<a href="buy.php?id={:$value[id]}"><img src="images/product_buy.gif" border="0"></a>
					</div>
				</td>
			</tr>
			</table>
		</div>
		<!-- end -->
	</div>
	<div align="right">{:$pagelist}</div>
	</div>

</div>
<div style="clear:both;"></div>

</div>
</div>
</div>
<!-- inc:inc.foot -->