/*公共样式*/
body
{
	margin:0px;
	font-size:12px;
}
table,tr,td
{
	font-family:"Arial","Tahoma","宋体";
	font-size:12px;
	color:#007BA8;
}
div
{
	margin-left:auto;
	margin-right:auto;
	line-height:24px;
	font-family:"Arial","Tahoma","宋体";
	color:#007BA8;
	font-size:12px;
	overflow:hidden;
}
hr
{
	height:0px;
	border:0px;
	border-top:1px solid #ddd;
	width:96%;
}
img
{
	border:0;
}
a
{
	color:#007BA8;
	text-decoration:none;
}
a:hover
{
	color:#f60f60;
	text-decoration:underline;
}
a.link
{
	color:#999;
}
a.redcolor
{
	color:#CB4721;
}
a.redcolor:hover
{
	color:#222;
}

#header
{
	position:relative;
	background:#FFF url("head_bg.jpg") repeat-x bottom;
	height:105px;
	margin:0px auto;
	text-align:center;
}

#header .header
{
	width:969px;
}
#header #menu
{
	background: url(menu_bg.jpg) repeat-x 50% top;
	width: 100%;
	white-space: nowrap;
	height: 33px;
	text-align:left;
}
#menu ul
{
	list-style-type: none;
	padding:0px;
	margin:0px;
}
#menu li
{
	background: url(menu_line.jpg) no-repeat right top;
	float: left;
	height: 33px;
}
#menu li a
{
	padding-right: 15px;
	display: block;
	padding-left: 15px;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 10px;
	color: #fff;
	padding-top: 6px;
	text-decoration: none;
}
#menu li a:hover
{
	background: url(menu_li_hover.jpg) no-repeat left top;
	color: #000;
}
#menu li#search
{
	background: url(menu_right.jpg) no-repeat right top;
	float: right;
	padding-top: 6px;
}
#menu li#search input
{
	border: #065387 1px solid;
	font-size: 12px;
	width: 150px;
	color: #666;
	height:16px;
	*height: 20px;
}
#menu li#search input.submit
{
	border: 0px;
	font-weight: 600;
	background: url(search_bg.jpg) no-repeat left 50%;
	width: 59px;
	cursor: pointer;
	color: #fff;
	height: 20px;
}

#menu li a#menu_home
{
	background: url(menu_home_other.jpg) no-repeat left top;
	width:84px;
}
#menu li a#menu_home:hover
{
	background: url(menu_home.jpg) no-repeat left top
}

#top
{
	position:relative;
	top:-1px;
	width:969px;
	background:#EEF4F6 url("mainbg.gif") repeat-x;
	margin:0px auto;
	text-align:center;
}

/*头部公告滚动样式*/
#notice_1
{
	overflow:hidden;
	height:120px;
}


/*中间排版*/
#body
{
	position:relative;
	width:969px;
	padding-top:10px;
}

#body .table
{
	padding-left:10px;
	padding-right:10px;
}

/*两列左窄右宽排列*/
#left_1
{
	float:left;
	width:210px;
	text-align:left;
}

#middle_1
{
	float:left;
	width:9px;
}

#right_1
{
	float:left;
	width:730px;
	text-align:left;
}

/*两列左宽右窄*/
#left_2
{
	float:left;
	width:730px;
	text-align:left;
}

#middle_2
{
	float:left;
	width:9px;
}

#right_2
{
	float:left;
	width:210px;
	text-align:left;
}

/*三列左右窄中间宽*/
#left_3
{
	float:left;
	width:210px;
	text-align:left;
}
#middle
{
	float:left;
	width:529px;
	text-align:left;
}
#right_3
{
	float:right;
	width:210px;
	text-align:left;
}

/*页脚样式*/
#foot
{
	position:relative;
	background:url("foot_bg.jpg") repeat-x bottom;
	height:68px;
}

#foot .table
{
	width:969px;
	padding-top:15px;
}

/*其他常用样式*/
.global_sub
{
	height:24px;/*FireFox*/
	*height:33px;/*IE*/
	background:#D2DFE6 url("subject_bg.jpg") repeat-x;
	padding-top:8px;
	padding-left:15px;
	border-left:1px #D2DFE6 solid;
	border-right:1px #D2DFE6 solid;
}
.border_no_top
{
	border-left:1px #D2DFE6 solid;
	border-right:1px #D2DFE6 solid;
	border-bottom:1px #D2DFE6 solid;
}
.border_left_right
{
	border-left:1px #D2DFE6 solid;
	border-right:1px #D2DFE6 solid;
}

.border
{
	border:1px #D2DFE6 solid;
}

.userlogin_over
{
	width:110px;
	height:15px;/*firefox*/
	*height:20px;
	border:1px #C60000 solid;
	background-color:#F7F2BD;
}

.userlogin_out
{
	width:110px;
	height:15px;/*firefox*/
	*height:20px;
}

.space_between
{
	height:5px;
}

/*定义Float为左的代码*/
.float_left
{
	float:left;
}

/**分页**/
.pagelist
{
	margin:3px;
	padding:3px;
	border:0px;
}
.pagelist .n
{
	border:1px #D2DFE6 solid;
	padding-left:5px;
	padding-right:5px;
	*padding-top:3px;
	*padding-bottom:3px;
	background:#FFFFFF;
}
.pagelist .m
{
	border:1px #D2DFE6 solid;
	padding-left:5px;
	padding-right:5px;
	*padding-top:3px;
	*padding-bottom:3px;
	background:#E7EEF1;
}

/*用于列表的鼠标移动样式*/
.list_over
{
	padding-top:3px;
	background:#E7EEF1;
	border-bottom:1px #D2DFE6 dashed;
}
.list_out
{
	padding-top:3px;
	border-bottom:1px #D2DFE6 dashed;
}

/*用于显示内容页的常用样式*/
.msg_sub
{
	font:bold 15px "Tahoma","Arial","宋体";
	color:#486F84;
	padding:5px;
	text-align:center;
}
.msg_date
{
	text-align:center;
	font: 0.83em/1.5em Verdana, Arial, Helvetica, sans-serif;
	padding:3px;
}
.msg_content
{
	padding:5px;
	text-align:left;
}

/*我要留言样式*/
.button
{
	background:#FFF url("btn.gif") repeat-x;
	height:25px;
	border:#7B9EBD;
}

/*友情提示页代码*/
.error
{
	line-height:150%;
	padding:15px;
	width:450px;
	border:1px #D2DFE6 dashed;
}

/*奇偶行颜色显示*/
.wtr
{
	position:relative;
	padding:3px;
	text-align:left;
	border-bottom:1px #D2DFE6 solid;
}
.dtr
{
	position:relative;
	padding:3px;
	text-align:left;
	background:#EEF4FD;
	border-bottom:1px #D2DFE6 solid;
}
